<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>CanaWebPY</h1>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-sidenav">

      <mat-nav-list>

          <a mat-list-item [routerLink]="'/fieldList'"> Fields </a>
          <a mat-list-item [routerLink]="'/create-account'"> Payable </a>
          <a mat-list-item [routerLink]="'/create-contact'"> Receivable </a>
          <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
    
        </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <h1>Main Page</h1>
    <div *ngFor="let field of fields" class="module ">
      <h4>{{field}}</h4>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>