<h1 mat-dialog-title>Add Field</h1>

<div mat-dialog-content>
    <div class="example-container">
        <p>{{field.id}}</p>

        <mat-form-field>
            <input matInput placeholder="Ingenio Id" [(ngModel)]="field.ingenioId" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="field.name" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Owner" [(ngModel)]="field.owner" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Size" [(ngModel)]="field.size">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Cultivated" [(ngModel)]="field.cultivatedArea">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Acquisition date" [(ngModel)]="field.acquisitionDate" required>
        </mat-form-field>

    </div>           
</div>

<div mat-dialog-actions>
  <button mat-button (click)="dismiss()">No Thanks</button>
  <button mat-button cdkFocusInitial (click)="save()">Create</button>
</div>